* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    margin-top: 20px;
    padding: 20px 0;

}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.intro_inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.intro_foto {
    width: 50%;
    align-items: center;
    justify-content: center;
}

.intro_foto img {
    width: 100%;
    max-width: 500px;
    height: 400px;
}

.intro_text {
    width: 50%;
    font-size: medium;
}

.intro_text p {
    padding: 20px 30px;
    font-size: 18px;

}

header {
    background-color: #0072c6;
}



.menu-main {
    list-style: none;
    margin: 0px 0px 5px;
    padding: 10px 0 10px;
    text-align: center;
    background: #606060;
}

.menu-main li {
    display: inline-block;
}

.menu-main li:after {
    content: "|";
    color: #606060;

}

.menu-main li:last-child:after {
    content: none;
}

.menu-main a {
    text-decoration: none;
    font-family: Arial, sans-serif;
    letter-spacing: 0px;
    position: relative;
    padding-bottom: 10px;
    margin: 0 30px 0 30px;
    font-size: 15px;
    text-transform: uppercase;
    display: inline-block;
    transition: color .2s;
}

.menu-main a,
.menu-main a:visited {
    color: #9d999d;
}

.menu-main a.current,
.menu-main a:hover {
    color: #000;
}

.menu-main a:before,
.menu-main a:after {

    position: absolute;
    height: 4px;
    top: auto;
    right: 50%;
    bottom: -5px;
    left: 50%;
}

/* WORK */

.work_inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.work_col {
    width: 33.333%;
    font-size: large;
}

.work_col-img img {
    width: 100%;
    max-width: 300px;
    height: 330px;
}

/* WORK */

.news_inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.news_col {
    width: 33.333%;
}

.news_col-img_1 img {
    width: 100%;
    max-width: 300px;
    height: 250px;
}

.news_inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.news_col {
    width: 33.333%;
}

.news_col-img_2 img {
    width: 100%;
    max-width: 300px;
    height: 250px;
}

.news_inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.news_col {
    width: 33.333%;
}

.news_col-img_3 img {
    width: 100%;
    max-width: 300px;
    height: 250px;
}


/*footer*/
footer {
    background-color: #9d999d;
    height: 150px;
}

.footer {
    padding: 30px 0px;
    font-family: 'Play', sans-serif;
    text-align: center;
}
.social,
.menu{
    position: relative;
    left: 8%;
    justify-content: center;
    align-items: center;
    margin: -35px 595px;
    flex-wrap: wrap;
}
.social li,
.menu li{
    list-style: none;
}
.social li a {
    font-size: 2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}